<%= form_for @alarm do |f| %>
  <%= f.text_area(:content, size: '50x10', :class => "alarm") %>
  <br>
  <%= f.submit %>
<% end %>

<% @alarms.each do |alarm| %>
	<div>
		<%= alarm.content %> <%= alarm.votes_string %>
	</div>
	<form action="<%= upvote_path(id: alarm.id) %>" method="post">
	    <input type="submit" value="Upvote" />
	</form>
<% end %>